body {
    font-family: 'Lucida Sans', sans-serif;
    background-color: #d8d6f8;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    min-width: 445px;
}

header {
    display: flex;
    flex-direction: row;
    background-color: rgba(31, 41, 55, 0.9);
    height: auto;
    color: #fff;
    justify-content: center;
    align-items: center;    
    padding: 20px;    
}

h1 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

#dark-mode {
    transform: none;
    border-radius: 20px;
    height: auto;
    width: auto;
    font-size: 1.1rem;
    padding: 10px;
    color: #fff;
    border: 3px solid #fcfcfc;
    background-color: rgba(31, 41, 55, 0.9);
}

#hide-word {
    visibility: hidden;
}

#dark-mode .sun-icon .moon-icon {
    display: inline;
  }

main {
  margin: auto;
  justify-content: center;
  align-content: center;
  height: fit-content;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 500px;    
    margin: auto;
    padding: 15px;
    border-top: 2px ridge #8dc3f7d2;
    border-left: 2px ridge #8dc3f7d2;
    border-radius: 20px;
    background-color: rgba(248, 249, 255, 0.75);
    transform: scale(0.9);
    box-shadow: 4px 4px 6px #011d79de;
}

.display {
    grid-column: span 4;
    height: 100px;
    color: #000;
    font-size: 3rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 20px;
    margin-bottom: 5px;
    border-radius: 20px;
    border-top: 2px ridge #8dc3f7d2;
    border-left: 2px ridge #8dc3f7d2;
    border-right: 3px groove #011d79de;
    border-bottom: 3px groove #011d79de;
    background-color: #dbe5f1e6;
}

.calculator-key-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: minmax(80px, 100px) repeat(4, 100px);
    gap: 5px;
}

.button {
    font-size: 2rem;
    font-weight: bold;
    border-top: 2px ridge #8dc3f7d2;
    border-left: 2px ridge #8dc3f7d2;
    border-right: 3px groove #011d79de;
    border-bottom: 3px groove #011d79de;
    border-radius: 20px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.87);
    cursor: pointer;
}

button:hover {
    background-color: #d8d6f8;
    transform: scale(0.95);
  }

.button.clear {
    grid-column: span 2;
    background-image: linear-gradient(to bottom, #1083e0, #003cff);
    color: #fff;
}
.button.clear:hover {
    background-image: none;
    background-color: #2794ec;
}

.button.plus-btn {
    grid-row: span 2; 
}

.button.equal {
    background-image: linear-gradient(to bottom, #1083e0, #003bfd);
    border-radius: 20px;
    grid-column: span 2;
    color: #fff;
}
.button.equal:hover {
    background-image: none;
    background-color: #2794ec;
}

.button.operator, .backspace {
    background-image: linear-gradient(to bottom, rgba(39, 147, 236, 0.75), #4971a5);    
    color: #fff;
}
.button.operator:hover {
    background-image: none;
    background-color: #4971a5;
}

footer {
    width: 100%;
    height: 50px;
    align-self: self-end;
    justify-content: center;
    align-content: center;
    background-color: rgba(31, 41, 55, 0.9);
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    padding: 20px;   
}

/* ----------------------------Dark / Light Switch ---------------------- */

.dark-mode {
    background-color: #000000ef;
    color: #fff;
  }
  
  .dark-mode .calculator {
    background-color: #222222;
    border-top: 3px ridge #fafaffe1;
    border-left: 3px ridge #fafaffe1;
    border-right: 3px groove #747b88de;
    border-bottom: 3px groove #747b88de;
    box-shadow: none;
  }
  
  .dark-mode .display {
    background-color: #2a2941;
    color:rgba(255, 255, 255, 0.979);
    border-top: 3px ridge #fafaffe1;
    border-left: 3px ridge #fafaffe1;
    border-right: 3px groove #747b88de;
    border-bottom: 3px groove #747b88de;
  }
  
  .dark-mode .button {
    background-color: #2a2941d8;
    border-top: 2px ridge #fafaffe1;
    border-left: 2px ridge #fafaffe1;
    border-right: 2px groove #747b88de;
    border-bottom: 2px groove #747b88de;
    color: #fff;
  }

  .dark-mode .button:hover {
    background-color: #47456dcc;
  }
  
  .dark-mode .operator {
    background-image: none;
    background-color: #274197;
    color: #fff;
  }
  
  .dark-mode .clear {
    background-image: none;
    background-color: #411b7c;
    color: #fff;
  }

  .dark-mode .clear:hover {
    background-color: #57299be3;
  }  
  .dark-mode .backspace {
    background-image: none;
    background-color: #274197;
    color: #fff;
  }
  
  .dark-mode .equal {
    background-image: none;
    background-color: #411b7c;
    color: #fff;
  }
  .dark-mode .equal:hover {
    background-color: #57299be3;
  }